body {
    background-color:#adcde6;
}

.intro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 0 10vw 0 10vw;
}

.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 0 10vw 0 10vw;
}

    .text1{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bouton_triangle{
        width: 20vw;
        cursor: pointer;
    }
    .paysageJDR {
        width: 30vw;
    }

    .insertImg {
        display: flex;
        gap: 1vw;
    }

    .scenario_boutton {
        cursor: pointer;
        color: #55802a;
    }

    .part2 {
        display: flex;
        align-items: center;
        text-align: justify;
        padding: 0 10vw 0 10vw;
        gap:3vw;
    }

        .ballon{
            width: 22vw;
        }

        .text2 {
            width: 25vw;
            height: 38.5vh;
            align-items: center;
            text-align: justify;

        }
        .group1 {
            display: flex;
            flex-direction: row;
            gap: 4vw;
        }

        
        .text3 {
            width: 25vw;
            height: 38.5vh;
            align-items: center;
            text-align: justify;
            
        }
        
        .part3 {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 0 10vw 0 10vw;
            gap:11vw;
        }
        
        .book {
            width: 22vw;
        }
        .text4 {
            width: 54vw;
        }
        .usine {
            width: 22vw;
        }
        .regles_boutton {
            cursor: pointer;
            color: #792a2a;
            width: 6vw;
        }